data/medianAskingRent_All
data/medianAskingRent_OneBd
data/medianAskingRent_TwoBd
data/medianAskingRent_ThreePlusBd
data/medianAskingRent_Studio
data/Citywide_Payroll_Data_(Fiscal_Year)_20260505.csv
data/income_data.csv